*{
    padding: 0;
    margin: 0;
    border: none;
}

.container{
    padding:0 20px;
    max-width: 1600px;
    margin:0 auto ;
}
header {
    background-color: rgb(75, 60, 187);
    padding: 20px 0px;
}

main{
    background-color: rgb(248, 246, 243);
    padding: 20px 0;
}

.search-form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    max-width: 350px;
    width: 100%;
}

.search-form input{
    padding: 10px;
    max-width: 350px;
    width: 100%;
    height: 14px;
    font-size: 20px;
}

.btn-submit{
    position: absolute;
    top: 0;
    right: 0;
    padding: 17px;
    background-image: url('../loupe_78347.svg');
    transition: transform 250ms linear,border-radius 250ms linear,border 250ms linear;

}
.btn-submit:hover,
.btn-submit:focus{
    transform: scale(1.4);
    border-radius: 50%;
    border: 1px black solid;
}




.gallery{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery a{
    margin: 0 auto;
    color: black;
    text-decoration: none;
    flex-basis: calc((100% - 60px) / 4);
}

img{
    display: block;
    width:100%;
    height: 270px;
    transition: transform 250ms linear;
    /* object-fit: auto; */
}

img:hover{
    transform: scale(1.2);
}

.thumb_image{
    overflow: hidden;
}

.info{
    background-color: aliceblue;
    display: flex;
    gap: 5px;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
